<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banksy's Website</title>
    <link rel="stylesheet" href="./stylesheet/styles.css">
</head>

<body>

    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/works">Works</a>
                </li>
                <li>
                    <a href="/gallery">Gallery</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="wrapper">
        <main>

            <div class="container">
                <h2>Banksy</h2>
                <p>Arguably the most controversial street artist in the world, Banksy’s works have become a subculture in their own right. Banksy’s political statements and disruptive vision have impacted cities across the globe at vital moments in modern
                    history, provoking alternative viewpoints and encouraging revolution in the art world. His identity remains unknown, even after more than 30 years of involvement in the global graffiti scene. He has worked in many street art mediums
                    and in many styles, breaking down the boundaries and expectations of street art critics. His work includes powerful, often controversial images, encouraging the rapid spread of his name and work across the internet. Today, his iconic
                    works have been re-shared and repurposed beyond measure.</p>
            </div>

            <div class="container">
                <h2>Who is Banksy?</h2>
                <p>Very little is known about Banksy himself, as he refuses to be interviewed and carefully maintains his anonymity. A world-renowned mystery man, Banksy has risen through the ranks to become one of the world’s greatest street artists partly
                    by cultivating in his collectors an urgency and desire to unveil his character. Street art fanatics are consistently impressed by the far-reaching scope, variety, and bravery of every artwork he delivers, but are always left wanting
                    more. This tactic encourages viewers to explore a completely new perspective or idea, often inspiring both amateur and professional artists. This inspiration is also known as the “Banksy Effect.” A number of claims have been made over
                    Banksy’s identity, fuelling media interest. Most recently, many sources, including an entire newspaper publication, suggested he was a Bristol native by the name of Robin Gunninham. Though the prospect of uncovering Banksy’s identity
                    would allow for a greater understanding of his motives and mission, no claim had ever been confirmed. His identity has reputedly even been concealed from his family.</p>
            </div>


        </main>
    </div>
</body>

</html>