<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banksy's Website</title>

    <link rel="stylesheet" href="./stylesheet/styles.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/works">Works</a>
                </li>
                <li>
                    <a href="/gallery">Gallery</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="wrapper">
        <h1>Banksy's Artwork Gallery</h1>
        <img class="gallery-image" src="./images/girl-with-baloon.webp" alt="girl with baloon">
        <img class="gallery-image" src="./images/season-greetings.jpeg" alt="season greetings">
        <img class="gallery-image" src="./images/steve-jobs.webp" alt="steve jobs">
        <img class="gallery-image" src="./images/toxic-rat.webp" alt="toxic rat">
        <img class="gallery-image" src="./images/shop-until-you-drop.webp" alt="shop until you drop">
        <img class="gallery-image" src="./images/kissing-coppers.webp" alt="kissing coppers">
        <img class="gallery-image" src="./images/flying-copper.jpeg" alt="flying copper">
        <img class="gallery-image" src="./images/umbrella-girl.jpeg" alt="umbrella girl">
        <img class="gallery-image" src="./images/love-is-in-the-bin.jpeg" alt="love is in the bin">
        <img class="gallery-image" src="./images/guantanamo-bay-prisoner.webp" alt="guantanamo bay prisoner">
        <img class="gallery-image" src="./images/sweep-it-under-the-carpet.webp" alt="sweep it under the carpet">
    </div>
</body>

</html>