<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banksy's Website</title>
</head>

<body>

    <h1>Banksy's Artwork Gallery</h1>
    <img src="./images/girl-with-baloon.webp" alt="girl with baloon">
    <img src="./images/season-greetings.jpeg" alt="season greetings">
    <img src="./images/guantanamo-bay-prisoner.webp" alt="guantanamo bay prisoner">
    <img src="./images/steve-jobs.webp" alt="steve jobs">
    <img src="./images/shop-until-you-drop.webp" alt="shop until you drop">
    <img src="./images/kissing-coppers.webp" alt="kissing coppers">
    <img src="./images/toxic-rat.webp" alt="toxic rat">
    <img src="./images/sweep-it-under-the-carpet.webp" alt="sweep it under the carpet">
</body>

</html>