<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Banksy's Work</h1>
<article>
    <img src="../public/images/graffitti-is-a-crime.jpeg" alt="graffitti is a crime artwork">
    <p>
        In October 2013, Banksy undertook a month-long residency in New York entitled ‘Better Out Than In.’ 
        During this time, he unveiled a new piece of work every day. 
        On Day 13, the artist disguised himself as a typical street vendor and set up a stand in Central Park, where he sold black-and-white original paintings for $60. 
        Only eight pieces of art were sold. The following day, Banksy authenticated those eight canvases on his website, alongside the message: 
        “Yesterday I set up a stall in the park selling 100% authentic original signed Banksy canvases. For $60 each”. 
        A year after, ‘Winnie the Pooh’, purchased during Banksy’s New York residency, sold for £56,250 on July 2nd 2014 at Bonhams in London.
    </p>
    <p>
        In the summer of 2015, Banksy opened the dystopian theme park Dismaland in the seaside resort of Weston-super-Mare. 
        Prepared entirely in secret, the project unveiled 10 new works by Banksy as well as works from 58 other artists.
    </p>
    <p>
        Banksy went on to participate in the designing of the Walled Off Hotel in Bethlehem in 2017, opposite the Israeli West Bank Barrier. 
        With nine rooms designed by Banksy himself, guests could literally sleep inside a work of art. 
        Originally intended as a temporary and provocative piece of installation art, the Walled Off Hotel rapidly became a top tourist attraction. 
        Alongside the spot on which Jesus was reputedly born, a traditional pilgrimage site, the controversial 700 km-long wall is now a surprising tourist site.
    </p>
    <p>
        Banksy’s relationship with tourism is a complex one; while he often stimulates it, he also regularly denounces it because of its negative effects. 
        To criticise the mass tourism that is endangering the Italian city of Venice at the Biennale in 2019, Banksy unveiled ‘Venice in Oil,’ 
        a series of nine oil paintings which, when placed together, depict a large cruise ship.
    </p>
    <p>
        In October 2018, a painting by the anonymous street artist sold at Sotheby’s auction house in London for £1.04 million. Shortly after the hammer came down, 
        the print of Banksy’s 2006 ‘Girl with Balloon’ began to pass through a shredder installed in the frame, destroying half of it. “It appears we just got Banksy-ed,” 
        reported Alex Branczik, Sotheby’s Senior Director and Head of Contemporary Art in Europe. The piece was a famous Banksy print known as ‘Girl with Balloon’ created back in 2006. 
        Banksy’s balloon girl, which was voted UK’s best-loved work of art in 2017, became the first instance of a self-destructing painting. Banksy posted a video to his Instagram 
        account to confirm the move was intentional and demonstrate how he built a shredding device into the large golden frame. The work was then given a new title: “Love is in the Bin“. 
        One less than savvy Banksy owner actually shredded their own Banksy print in the hope the stunt would add value to their investment, but was very disappointed. 
    </p>
    <p>
        In October 2019, another Banksy artwork took the country by storm. Amidst the political controversy at the time, Banksy released ‘Devolved Parliament;’ 
        a painting that depicts the House of Commons overtaken by apes. It sold at Sotheby’s for an astonishing £9.9 million, making it the most expensive Banksy painting sold up to this date. 
        In typical Banksy fashion, he responded to the sale on Instagram with a line from Robert Hughes: “But the price of a work of art is now part of its function, its new job is to sit on the wall and get more expensive.”
    </p>
    <p>
        In a move that was characteristically charitable, Banksy donated a series of three paintings to auction in 2020, entitled ‘Mediterranean Sea View’, to raise money for a hospital in Bethlehem.
         The oil paintings were in a detailed, traditional style that had grown more prominent in Banksy’s work around this time. Of course, the stunning landscapes came with a Banksy twist: 
         life jackets washed up on the shore, intended to highlight the growing European migrant crisis.
    </p>
    <p>
        Banksy’s ability to consistently break and challenge his own records continued to amaze the art market when, in October 2020, Banksy’s reinterpretation of Monet’s famous waterlilies, 
        entitled ‘Show Me The Monet’ sold at auction for £7.5 million. This made it the second most expensive of his works to sell at auction. The piece was part of a series of remixed masterpieces 
        and commented on the threat that society’s wasteful consumerism poses to the natural world. 
    </p>
    <p>
        In response to the global Coronavirus pandemic in 2020, Banksy hung a brand-new black and white artwork, depicting a young boy playing with a ‘superhero’ NHS nurse doll, in the foyer of Southampton General Hospital. 
        He released a statement thanking the NHS for their work and hoping that the painting brightened up the hospital. The piece was later titled ‘Game Changer.’ On the one-year anniversary of the UK entering into lockdown, 
        ‘Game Changer’ sold at auction for £16.8 million, with all proceeds donated to the NHS. This price far exceeded all expectations and firmly secured this piece as the most expensive Banksy ever sold.
    </p>
    <p>
        Banksy’s artistic endeavours continue to take him around the world. Artworks have cropped up in Australia, France, Italy, the United States, Canada, Jamaica, and Israel, and are instantly protected and revered.
    </p>
</article>
</body>
</html>